<div class="bg-slate-50 container max-w-full">
  
  <h1 class="text-4xl font-bold mb-4 text-center pt-10">Products</h1>
  <table class="w-10/12 mx-auto">
      <thead>
          <tr>
              <th class="px-4 py-2">Handle</th>
              <th class="px-4 py-2">Title</th>
              <th class="px-4 py-2">Description</th>
              <th class="px-4 py-2">SKU</th>
              <th class="px-4 py-2">Grams</th>
              <th class="px-4 py-2">Stock</th>
              <th class="px-4 py-2">Price</th>
              <th class="px-4 py-2">Compare Price</th>
              <th class="px-4 py-2">Barcode</th>
              <th class="px-4 py-2">Actions</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let product of products">
              <td class="border px-4 py-2">{{ product.handle }}</td>
              <td class="border px-4 py-2">{{ product.title }}</td>
              <td class="border px-4 py-2">{{ product.description }}</td>
              <td class="border px-4 py-2">{{ product.sku }}</td>
              <td class="border px-4 py-2">{{ product.grams }}</td>
              <td class="border px-4 py-2">{{ product.stock }}</td>
              <td class="border px-4 py-2">{{ product.price }}</td>
              <td class="border px-4 py-2">{{ product.comparePrice }}</td>
              <td class="border px-4 py-2">{{ product.barcode }}</td>
              <td class="border px-4 py-2">
                  <div class="flex">
                      <div class="mr-2">
                          <button [routerLink]="['/edit-product', product.id]" class="bg-violet-600 hover:bg-violet-900 text-white py-2 px-4 rounded">Edit</button>
                      </div>
                      <div>
                          <button (click)="deleteProduct(product.id)" class="bg-violet-200 hover:bg-violet-300 hover:text-white text-black py-2 px-4 rounded">Delete</button>
                      </div>
                  </div>
              </td>
          </tr>
      </tbody>
  </table>
</div>